* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;

  /* outline: 1px solid tomato; */
  /* main {
    outline: 1px solid tomato;
  } */
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  --uno: font-serif;

  color-scheme: dark light;

  scroll-snap-type: y mandatory;
  scroll-padding-top: 5rem;

  /* --uno: lg: snap-none; */
}

button {
  --uno: font-mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  --uno: font-sans text-3xl;
}

small {
  font-size: 0.5em;
}

a {
  color: inherit;
  --uno: underline-current decoration-dotted;

  &:hover {
    --uno: opacity-70;
  }

  &:visited {
    --uno: opacity-60;
  }
}

p {
  max-width: 48ch;
  text-wrap-style: pretty;
}
